{
  "extends": "gitbook",
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "react/void-dom-elements-no-children": 0,
    "jsx-a11y/html-has-lang": 0,
    "jsx-a11y/accessible-emoji": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
